<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2 waves-effect waves-light">
            <div class="nav-wrapper">
               <div class="container">
                <a internal href="{{ site.baseurl }}/" class="brand-logo"><i class="mdi-communication-chat"></i> {{site.title}}</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li id="home"><a internal href="{{ site.baseurl }}/">Home</a>
                    </li>
                    <li id="blog"><a internal href="{{ site.baseurl }}/blog/">Blog</a>
                    </li>
                    <li id="about"><a internal href="{{ site.baseurl }}/about/">About</a>
                    </li>
                    <li id="github"><a href="https://github.com/astronaut1712/" target="_blank">GitHub</a>
                    </li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
            </div>
        </nav>
    </div>
</header>
